<div class="navbar bg-amber-50   shadow-sm rounded-box p-4 ">
    <div class="navbar-start flex-grow">
        <div class="dropdown lg:hidden">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li><a class="text-sm font-light hover:text-primary">Sobre</a></li>
                <li><a class="text-lg font-light hover:text-primary">Nossos Produtos</a></li>
            </ul>
        </div>
        <div class="hidden lg:flex items-center space-x-8 ml-4">
            <a class="text-lg font-light text-gray-700 hover:text-primary transition-colors duration-200">Sobre</a>
            <a class="text-lg font-light text-gray-700 hover:text-primary transition-colors duration-200">Nossos
                Produtos</a>
        </div>
    </div>

    <div class="navbar-center flex-shrink-0 flex flex-col items-center">
        <img class="" width="" src="assets/imglogo.svg" alt="">
    </div>

    <div class="navbar-end flex-grow justify-end">
        <a
            class="text-lg font-light text-gray-700 hover:text-primary transition-colors duration-200 mr-4 hidden md:block">Contato</a>
    </div>
</div>