<div class="container mx-auto p-8 lg:p-16 bg-amber-50 rounded-lg shadow-md my-8 font-inter">
    <div class="text-center mb-12 max-w-3xl mx-auto">
        <h1 class="text-5xl lg:text-6xl font-extrabold text-gray-800 leading-tight mb-6">
            Lorem ipsum dolor <br class="hidden sm:block"> Sit Amet us
        </h1>
        <p class="text-lg text-gray-600 leading-relaxed">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus non quis hic consectetur molestiae sed
            animi commodi qui ullam, itaque minus, sit molestias in, quo illo. Reiciendis natus maxime veniam!
        </p>
    </div>

    <div class="flex flex-col sm:flex-row justify-center items-center gap-6 lg:gap-8">
        <figure class="w-full sm:w-1/3 flex justify-center">
            <img class="rounded-lg shadow-lg object-cover w-full h-auto max-h-80"
                src="https://placehold.co/460x460/E0E0E0/333333?text=Image+1" alt="Child smiling" />
        </figure>
        <figure class="w-full sm:w-1/3 flex justify-center">
            <img class="rounded-lg shadow-lg object-cover w-full h-auto max-h-80"
                src="https://placehold.co/460x460/D0D0D0/333333?text=Image+2" alt="Child's feet" />
        </figure>
        <figure class="w-full sm:w-1/3 flex justify-center">
            <img class="rounded-lg shadow-lg object-cover w-full h-auto max-h-80"
                src="https://placehold.co/460x460/C0C0C0/333333?text=Image+3" alt="Child looking away" />
        </figure>
    </div>
</div>