<div class="card lg:card-side bg-base-100 shadow-sm p-5 bg-slate-600">
    <figure>
        <img class="rounded-lg" src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
            alt="Album" />
    </figure>
    <div class="card-body m-25 font-Roboto">
        <h2 class="card-title ">New product is released!</h2>
        <p>Click the button to have a closer look.</p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Details</button>
        </div>
    </div>
</div>